<launch>
  <!-- Load the URDF into the parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find car_description)/urdf/10-scale_car.urdf'"/>

  <!-- Start the robot_state_publisher to publish tf -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_frequency" value="50" /> <!-- Frequency of tf publishing -->
  </node>
</launch>

